# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log